@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    width: 100%;
    font-family: 'Belleza', sans-serif;
}

body {
    width: 80%;
    background-image: radial-gradient(ellipse at 58% 0%, #FFFFFF 38%, #CAC8CA 100%);
    margin: 0 auto;

    /* nav part */
}

nav {

    min-height: 80px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative
}

nav .logo {
    display: inline-block;
    width: 20%;
}

nav .menu {
    width: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}

nav .menu ul.sub-menu {
    width: 300px;
    height: 150px;
    position: absolute;
    flex-wrap: wrap;
    transform: scale(0, 0);
    transition: 0.7s;
    background-color: #600000;
    z-index: 1;
    color: white;
    top: 65px;
    justify-content: flex-start;
}

nav .menu ul.sub-menu li {
    width: 50%;
    height: fit-content;
    font-size: 1rem;
    cursor: pointer;

}

nav .menu ul li:hover .sub-menu {
    transform: scale(1, 1)
}


nav .menu ul {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

nav .menu li {
    display: inline-block;
    height: 100%;
    padding: 5px;
}

nav .menu li a {
    text-decoration: none;
    color: rgb(34, 26, 26);
    transition: .7s;
    display: inline-block;
    height: fit-content;
    position: relative;
    padding: 5px;
    width: fit-content
}

nav .menu li a::before {
    content: "";
    transform: scaleY(0);
    top: 0;
    left: 0;
    position: absolute;
    border-width: 0 1.5px;
    border-style: solid;
    width: 100%;
    transition: .3s;
    z-index: 1;
    display: inline-block;
}

nav .menu li a::after {
    content: "";
    height: 100%;
    transform: scaleX(0);
    top: 0;
    left: 0;
    position: absolute;
    border-width: 1.5px 0;
    border-style: solid;
    transition: 0.3s;
    transition-delay: 0.3s;
    z-index: 1;
    display: inline-block;
    transform-origin: 0% 0%;
}

nav .menu li a:hover::before {
    transform: scaleY(1);
    height: 100%;
}

nav .menu li a:hover::after {
    transform: scaleX(1);
    width: 100%
}

nav .user-data {
    font-size: 1.3rem;
    position: relative;
}

nav .user-data .cart {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.9rem;
    display: inline-block;
    padding-left: 15px;
}

nav .user-data .items-no {
    display: inline-block;
    width: 20px;
    height: 26px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 26px;
    position: absolute;
    top: 60%;
    right: 40%;
}

/* header part */

header {
    background-color: white;
    height: 370px;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
}

header img {

    position: absolute;

    width: 460px;
    right: -100px;
}

header h2 {
    width: 52%;
    display: inline-block;
    height: 60%;
    display: ;
    position: absolute;
    font-size: 3em;
    font-weight: bold;
    top: 20%;
    left: 5%;
    text-transform: uppercase;

}

header button {
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 165px;
    height: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #600000;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    transition: 0.4s;
}

header button:hover {
    transform: translateY(-7px);
}

/* new arrivals section */

.new-arrivals {
    margin-top: 40px;
}

.new-arrivals h2,
.partners h2 {
    text-align: center;
    font-size: 2em;
    margin: 30px auto;
    text-transform: uppercase;
}

.new-arrivals h2::after,
.partners h2::after {
    content: "";
    width: 10%;
    display: block;
    margin: auto;
    background-color: #600000;
    height: 3px;
    transition: .7s;
}

.new-arrivals h2:hover::after,
.partners h2:hover::after {
    transform: scaleX(1.5)
}

.new-arrivals .new-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.new-arrivals .new-container div {
    width: 235px;
    margin-bottom: 20px;
    height: 370px;
    background-color: transparent;
    position: relative;
}

.new-arrivals .new-container img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
    height: 78%;
    background-color: #6000000f;
    padding: 10px;
}

.new-arrivals .new-container p {
    color: gray;
    padding: 2px 5px;
    text-transform: capitalize;
}

.new-arrivals .new-container h4 {
    padding: 2px 5px;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.new-arrivals .new-container span {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 5px;
    right: 0;
    background-color: #600000;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.new-arrivals .new-container div:hover span {
    display: inline-block;
}

/* discounts section  */
.discounts {
    min-height: 380px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 100%;
    column-gap: 20px;
    margin: 40px auto;

}

.discounts div:nth-child(2) {
    background: #EBEBEB;
    background: linear-gradient(to top, #D7D7D7 0%, #FFFFFF 100%);

}

.discounts div:last-child {
    background-color: #efefef;
}

.discounts div img {
    object-fit: cover;
    width: 100%;
    height: 60%;
}

.discounts div h3,
.discounts div p {
    padding: 8px 12px;
    height: 20%;
    color: #600000;
    font-weight: bold;
}

.discounts div h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    display: flex;
    align-items: flex-end;
    color: black;
    font-family: 'Lexend Deca', sans-serif;
    ;
}

.discounts div.card {
    transition: 0.7s;
    height: 100%
}

.discounts div.scalable:hover {
    transform: scale(1.1);
}

.discounts div.quote {
    background-color: #4c4c4c;
    border-radius: 5px;
    position: relative;
    color: whitesmoke
}



.discounts div.quote h3 {
    text-indent: 65px;
    font-size: 1.4rem;
    color: inherit;
    overflow: hidden;
}

.discounts .quote .icon {
    font-size: 4em;
    position: absolute;
    top: 35px;
    left: 15px;
    color: #600000
}

.discounts .quote p:first-of-type {
    margin: -18px 65px;
    color: inherit
}

.discounts .quote p.breif {
    text-indent: 65px;
    margin: -35px 20px;
    font-size: 1.1rem;
    line-height: 24px;
    font-weight: normal;
    color: inherit
}

@media (max-width:700px) {
    .discounts .quote p.breif {
        text-indent: 65px;
        margin: -35px 20px;
        font-size: 0.8rem;
        line-height: 20px;
        font-weight: normal;
        color: inherit
    }
}

.discounts div.dashes {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
}

.discounts span {
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: whitesmoke;
    margin-right: 5px;
}

/* features section */
.features {
    min-height: 150px;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.features .feature-container {
    width: 160px;
    padding: 10px;
    overflow: hidden;

}

.features .feature-container div.icon-container {
    overflow: hidden;
}

.features .feature-container i {
    font-size: 3em;
    display: inline-block;
    text-align: center;
    width: 100%;
    transform: translateY(74px);
    text-shadow: 0px -74px #9f9e9e;
    transition: transform 0.3s;
    color: transparent;
}

.features .feature-container:hover i {
    transform: translateY(-1px);
    color: #191818;
}

.features .feature-container h4 {
    text-align: center;
    margin: 4px auto;
    text-transform: capitalize;
}

.features .feature-container p {
    color: #4c4c4c;
    font-size: 0.9rem;
    text-align: center;
}

.features .separator {
    width: 3px;
    height: 110px;
    background-color: #4c4c4c;
}

/* horizontal line stylng */
hr {
    margin: 10px;
    color: #4c4c4c;
    width: 100%;
}

/* partners section */
.partners .cards-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.partners ul.categories {
    list-style: none;
    display: flex;
    width: 35%;
    margin: 20px auto;
    justify-content: space-around;
}


.partners ul.categories li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #600000;
}



.partners .card {
    width: 27%;
    height: 400px;
    overflow: hidden;
}

.partners .card .images {
    width: 100%;
    height: 85%;
    overflow: hidden;
    position: relative;
}


.partners .card .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.partners .card .images .icons-container {
    z-index: 1;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform: scaleX(0);
}

.partners .card .images .icons-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #00000080;
}

.partners .card:hover .images .icons-container {
    transform: scaleX(1);
}

.partners .card .images .icons-container i {
    color: #cbcbcb;
    ;
    font-size: 1.8rem;
    margin: 0 4px;
    cursor: pointer;
}


.partners .card .rating {
    margin: 8px;
    color: #edaf12;
}

.partners .card h4 {
    margin: 0 10px;
    text-transform: capitalize;
    color: #131212;
    font-size: 1.3rem;
}

/* footer part*/

footer {
    overflow: hidden;
    background-color: transparent;
    border-top: 2px solid #600000;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    height: 100%;
    font-size: 0.8rem;
    width: 45%;
    color: #600000;
}


footer .foot-icons i {
    color: #464648;
    margin-top: 12px;
    margin-left: 10px;
    transition: 0.5s;

}

footer .foot-icons a:first-child:hover i {
    color: #4267B2;

}

footer .foot-icons a:nth-child(2):hover i {
    color: black;

}

footer .foot-icons a:nth-child(3):hover i {
    color: #FFFC00;

}

footer .foot-icons a:nth-child(4):hover i {
    color: #C13584;

}

footer .foot-icons a:nth-child(5):hover i {
    color: #FF0000;

}


footer .foot-icons a {
    text-decoration: none;
    font-size: 1.7em;
}